* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 16px 100px;
}

ul {
    display: flex;
    gap: 16px;
}

li {
    list-style-type: none;
}