* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 128px 100px;
    background-color: #1f2937;
    color: white;
}

.logo {
    font-weight: bold;
}

.nav-links {
    color: #e5e7eb;
}

.nav-links ul {
    display: flex;
    gap: 16px;
}

.nav-links li {
    list-style-type: none;
}

.hero-section {
    display: flex;
    background-color: #1f2937;
    color: white;
    padding: 16px 128px 100px;
    gap: 16px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-description {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-content button {
    width: 100px;
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
    padding: 8px;
}

.hero-image {
    height: 190px;
    width: 800px;
}

.information-section {
    display: flex;
    flex-direction: column;
    padding: 16px 128px 100px;
    gap: 16px;
    align-items: center;
}

.information-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-bottom: 16px;
}

.information-cards {
    display: flex;
    gap: 32px;
}

.information-card {
    display: flex;
    flex-direction: column;
    width: 120px;
}

.information-card img {
    border: 2px solid #3882f6;
    border-radius: 8px;
    width: 120px;
    height: 120px;
}

.information-card p {
    margin-top: 8px;
    font-size: 13px;
}