* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    /* margin: 16px 100px; */
    padding: 16px 100px;
    background-color: #1f2937;
    color: white;
}

ul {
    display: flex;
    gap: 16px;
}

li {
    list-style-type: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

button {
    width: 100px;
}

img {
    height: 150px;
    width: 500px;
}
