* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 128px 100px;
    background-color: #1f2937;
    color: white;
}

.header-logo {
    font-weight: bold;
}

.header-links {
    color: #e5e7eb
}

ul {
    display: flex;
    gap: 16px;
}

li {
    list-style-type: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    background-color: #1f2937;
    color: white;
    padding: 16px 128px 100px;
    gap: 16px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button {
    width: 100px;
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
    padding: 8px;
}

img {
    height: 190px;
    width: 800px;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb
}

.information {
    display: flex;
    flex-direction: column;
    padding: 16px 128px 100px;
    gap: 16px;
    align-items: center;
}

.information-content {
    display: flex;
    gap: 32px;
}

.information-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-bottom: 16px;
}

.information-text img {
    border: 2px solid #3882f6;
    border-radius: 8px;
}
